*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #181818;
}

.mid-nav{
    margin-top: 0rem;
    padding: .2rem 7rem;
}
.mid-nav .bx-menu{
    display: none;
} 
.top-nav{
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}
.top-nav a{
    cursor: pointer;
}
.main-container{
    padding: 0rem 7rem;
}
.left-div{
    width: 13rem;
    margin-top: 4.4rem;
    height: 100vh;
    z-index: 999999 !important;
}



@media screen and (max-width:600px) {
.mid-nav{
    padding: .2rem; 

}
.mid-nav .d-flex .btn-danger{
    display: none !important;
}    
.mid-nav .d-flex  .d-flex .bx{
    font-size: 1.4rem !important;
} 
.mid-nav .d-flex .d-flex div{
    padding: 0rem .3rem !important;
}
.mid-nav .bx-menu{
    display: block;
}
.mid-nav .d-flex .d-flex div .small{
    font-size: .7em;
} 
}