* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #181818;
    color: #fff;
}

.top-nav {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    will-change: transform;
    user-select: none;
    cursor: pointer;
}

.top-nav.active {
    background: rgba(255, 255, 255, 0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;

}

.top-nav a {
    cursor: pointer;
    font-size: .7rem;
}

.mid-nav {
    padding: .2rem 7rem;
}

.mid-nav .bx-menu,
.bottom-nav {
    display: none;
}

.bottom-nav .d-flex .text-center:hover {
    color: #dc3545;
}

.main-container {
    padding: 0rem 7rem;
}

.left-div {
    width: 12.5rem;
    height: 90vh;
    z-index: 999999 !important;
}

.left-div::-webkit-scrollbar {
    width: .2rem;
}

.left-div::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 8px red;
}

.left-div .form-check-input:checked {
    background-color: #898a8b;
    border-color: #898a8b;
}

.left-div .form-switch .form-check-input {
    width: 3rem;
}

.left-div .form-check-input {
    height: 1.8rem;
}

.close-menu {
    display: none;
    left: 13rem;
    top: 5rem;
}

.center-div {
    margin-left: 12rem;
}

.center-div .text-center a {
    background-color: rgba(255, 255, 255, 0.099);
}

.center-div .text-center a:hover {
    border: 2px solid #fff;
}

.advertise div {
    height: 15rem;
    width: 100%;
    overflow: hidden;
}

.advertise div img {
    width: 100%;
    height: auto;
    object-fit: fill;

}

.d-flex .col-8 .top-slider {
    /* height: 20rem; */
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: auto;
}

.swiper-slide {
    width: 17rem !important;
    margin-right: 1rem !important;
    font-size: 18px;
    background: #251f1f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

@media screen and (max-width:850px) {

    .mid-nav,
    .main-container {
        padding: 0.2rem 4rem;
    }

    .center-div {
        padding: .5rem !important;
    }
}



@media screen and (max-width:600px) {
    .mid-nav {
        padding: .2rem;

    }

    .mid-nav .d-flex .btn-danger {
        display: none !important;
    }

    .mid-nav .d-flex .d-flex .bx {
        font-size: 1.4rem !important;
    }

    .mid-nav .d-flex .d-flex div {
        padding: 0rem .3rem !important;
    }

    .mid-nav .bx-menu {
        display: block;
    }

    .mid-nav .d-flex .d-flex div .small {
        font-size: .7em;
    }

    .main-container {
        padding: 0rem;
    }

    .left-div {
        display: none;
    }

    .bottom-nav,
    .close-menu {
        display: block;
    }

    .center-div {
        margin-left: 0rem;
        padding: 1rem 0rem !important;
    }

}

@media screen and (max-width:500px) {}