* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.top-nav {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    will-change: transform;
    user-select: none;
    cursor: pointer;
}

.top-nav.active {
    background: rgba(255, 255, 255, 0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.top-nav a {
    cursor: pointer;
    font-size: .7rem;
}

.mid-nav {
    margin-top: 1.5rem;
    padding: .2rem 7rem;
}

.mid-nav .my-menu,
.bottom-nav {
    display: none;
}

.bottom-nav .d-flex .text-center:hover {
    color: #dc3545;
}

.main-container {
    padding: 0rem 7rem;
}

.offcanvas {
    visibility: visible !important;
}

.offcanvas.show {
    transform: none;
}

.offcanvas-start {
    top: 6rem;
    width: 14rem;
    height: 90vh;
    transform: translateX(-0%) !important;
}

.close-menu {
    display: none;
}

.offcanvas-body::-webkit-scrollbar {
    width: .2rem;
}

.offcanvas-body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 8px red;
}

.center-div {
    margin-top: 6rem;
    margin-left: 12rem;
}

.advertise div {
    height: 15rem;
    width: 100%;
    overflow: hidden;
}

.advertise div img {
    width: 100%;
    height: auto;
    object-fit: fill;
}

.center-div .d-flex .col-8 .top-slider {
    overflow: hidden;
}

.center-div .d-flex .col-3 {
    width: 30%;
}

.center-div .d-flex .col-3 .ad-1 {
    height: 14rem;
}

.center-div .d-flex .col-3 .ad-2 {
    height: 5rem;
}

.center-div .d-flex .col-3 .ad-1 img,
.center-div .d-flex .col-3 .ad-2 img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.swiper {
    width: 100%;
    height: auto;
}

.mySwiper .swiper-slide,
.mySwiper2 .swiper-slide,
.mySwiper3 .swiper-slide {
    width: 17rem !important;
    margin-right: 1rem !important;
    font-size: 18px;
}

.mySwiper4 .swiper-slide {
    width: 10rem;
    margin-right: 1.5rem !important;
}

.mySwiper4 .swiper-wrapper .swiper-slide .rounded-circle {
    height: 10rem;
    width: 10rem;
}

.mySwiper4 .swiper-wrapper .swiper-slide .rounded-circle img {
    object-fit: cover;

}

.mySwiper2 .small,
.mySwiper .small {
    font-size: .9rem;
}

.mySwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    top: -.7rem !important;
    width: 2rem !important;
    height: 2rem !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #f50404 !important;
}

.swiper-button-prev {
    left: 36rem !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 1rem !important;

}

.swiper-pagination2 {
    bottom: -1.5rem !important;
}

.swiper-pagination2 .swiper-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
    text-align: center !important;
    line-height: 20px !important;
    font-size: 12px !important;
    color: #000 !important;
    opacity: 1 !important;
    background: rgba(246, 244, 244, 0.863) !important;
}

.swiper-pagination2 .swiper-pagination-bullet-active {
    color: #fff !important;
    background: red !important;
}

footer {
    z-index: 9991 !important;
    position: relative;
}

footer div img {
    height: 2.5rem;
}

@media only screen and (max-width:1280px) {
    .swiper-button-prev {
        left: 27rem !important;
    }

}

@media screen and (max-width:1040px) {
    .swiper-button-next {
        right: -0.5rem !important;
    }

    .swiper-button-prev {
        left: 17rem !important;
    }

    .d-flex .col-8 .bg-dark .px-3 .d-flex h4,
    .bx-smile,
    .bx-message-detail,
    .bx-bookmark,
    .bx-share {
        font-size: .8rem !important;
    }

    .d-flex .col-8 .bg-dark .px-3 .d-flex p {
        font-size: .6rem;
    }

}

@media screen and (max-width:950px) {
    .close-menu {
        display: block;
    }

    .offcanvas.show {
        transform: none !important;
    }

    .offcanvas-start {
        top: 0rem;
        height: 100vh;
        transform: translateX(-100%) !important;
    }

    .swiper-pagination2 .swiper-pagination-bullet {
        width: 17px !important;
        height: 17px !important;
        line-height: 17px !important;
        font-size: 11px !important;
    }

    .mid-nav .d-flex .btn-danger {
        display: none !important;
    }

    .swiper-button-prev {
        left: 24.5rem !important;
    }

    .mid-nav .my-menu {
        display: block;
    }

    .mid-nav,
    .main-container {
        padding: 0.2rem 0rem;
    }

    .center-div {
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 1rem 0rem !important;
    }

    .bottom-nav,
    .close-menu {
        z-index: 999;
        display: block;
    }

    footer {
        padding-bottom: 4rem;
        z-index: 99 !important;
    }

    .mySwiper2 .swiper-slide {
        width: 13rem !important;

    }

}

@media screen and (max-width:600px) {
    .offcanvas .mySwiper2 .swiper-slide {
        width: 17rem !important;
    }

    .mySwiper2 .swiper-wrapper {
        margin: 0rem;
    }

    .mid-nav {
        padding: .2rem;
    }

    .mid-nav .d-flex .d-flex .bx {
        font-size: 1.4rem !important;
    }

    .mid-nav .d-flex .d-flex div {
        padding: 0rem .3rem !important;
    }

    .mid-nav .d-flex .d-flex div .small,
    .bottom-nav .d-flex .text-center p {
        font-size: .7em;
    }

    .center-div .d-flex .col-3,
    .col-10 {
        width: 100%;
    }

    .d-flex .col-8,
    .col-8 {
        width: 100%;
    }

    footer a {
        font-size: .7rem;
    }
}

@media screen and (max-width:500px) {
    .swiper-button-prev {
        left: 17rem !important;
    }
}

@media screen and (max-width:400px) {
    .swiper-button-prev {
        left: 14rem !important;
    }

    .my-menu {
        padding: 0rem;
    }
}